.intro {
  text-align: center;
  font-size: 5rem;
  color: rgb(245, 229, 229);
}

.summary {
  text-align: center;
  color: rgb(245, 229, 229);
  border-bottom: rgb(69, 66, 66) solid 3px;
  padding-bottom: 3rem;
}

.connect {
  text-align: center;
  padding: 1rem;
}

.linkedin {
  height: 3rem;
  width: 3rem;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.github {
  height: 3rem;
  width: 3rem;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.twitter {
  height: 3rem;
  width: 3rem;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}
