.proj-rows {
  justify-content: space-evenly !important;
}

.cards {
  margin-bottom: 2rem !important;
}

.proj-title {
  text-align: center;
}

.github {
  justify-content: center;
}

.app-link {
  padding-left: 3rem;
}
